{% extends 'base.html.twig' %}

{% block body %}
    <h1>404 Not Found</h1>
    <p>La page que vous recherchez n'existe pas.</p>
    <a href="{{ path('app_login') }}">Retour à la page d'accueil</a>
{% endblock %}